@model IEnumerable<UniverSity.Models.Post>

@{
    ViewData["Title"] = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="col-12 text-right p-5">

        <h4 class=" text-info">المدونات   </h4>
        <hr />


       

        @if (Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
               

                <p>
                    <h5 class="text-right "> <a class="text-info" href="~/files/@item.Description">@item.Subject</a></h5>

                </p>
                 


               

            }
        }

        else
        {
            <p> لا يوجد مدونات </p>
        }





    </div>
