@model UniverSity.Models.Post


@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Links.cshtml";
}

<h1 class="text-info text-right">تعديل مدونة</h1>

<hr />
<div class="col-md-8  text-right">



    <div class="col-md-12 ml-auto mr-5">
        <form asp-action="Edit" class="text-right">
            <input type="hidden" asp-for="Id" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="row">
                    <div class="col-8">
                        <input asp-for="Subject" class="form-control text-right" />
                    </div>
                    <div class="col-3">
                        <label asp-for="Subject" class="control-label"></label>
                    </div>
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-8">
                        <textarea asp-for="Description" class="form-control text-right" style="height:300px;"></textarea>
                    </div>
                    <div class="col-3">
                        <label asp-for="Description" class="form-label"></label>

                    </div>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-8">
                    <a asp-action="Index" class="btn btn-primary col-5">قائمة المدونات</a>
                    <input type="submit" value="تعديل" class="btn btn-success col-5" />

                </div>
            </div>
        </form>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script>


            tinymce.init({
                selector: 'textarea',
            plugins: 'lists',
            menubar: 'file edit format'

            });


    </script>
}