@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
   


    <div class="container">
        <div class="row">
            <div class="col-4 offset-4 text-center">
                <p>هل انتا متأكد من تسجيل الخروج؟</p>
                <form method="post">

                    <button type="submit" class="form-control btn btn-danger">تسجيل الخروج</button>

                </form>
            </div>
        </div>


    </div>
   
</header>